/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

/* #region global */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: #2e2f42;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

P {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text-blue {
    color: #2e2f42;
}

.text-sky {
    color: #f4f4fd;
}

/* #endregion global */

/* #region header */
.page-header {
    padding-bottom: 96px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-conteiner {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
    position: relative;
}

.nav-link.active::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #4d5ae5;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
    ;
}

.nav-link.active {
    color: #404bbf;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    border-radius: 2px;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
}


.page-address {
    font-style: normal;
    margin-left: auto;

}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    cursor: pointer;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/* #endregion header */

/* #region hero */

.section-hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main-background.jpg);
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    font-weight: 500;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}


/* #endregion hero */

/* #region info */

.section-info {
    padding: 120px 0 120px;
}

.list-info {
    display: flex;
    align-items: center;
    gap: 24px
}

.info-elements {
    width: calc((100% - 72px) / 4);
}

.info-elements-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.info-elements-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.wrapp-icons {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    justify-content: center;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
}

/* #endregion info */

/* #region team */
.section-team {
    background-color: #f4f4fd;
    padding: 120px 0 120px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.team-element.list-team-element {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-element {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.team-info {
    padding: 32px 0;
    text-align: center;
    background-color: #fff;
}

.list-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-team-positions {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 24px;
    list-style: none;
    flex-shrink: 0;
}

.social-icons .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.social-icons .social-link:hover,
.social-icons .social-link:focus {
    background-color: #404bbf;
}

.social-icons .media-icon {
    fill: #f4f4fd;
}
/* #endregion team  */

/* #region portfolio  */
.section-portfolio {
    padding: 120px 0 120px;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-info {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-element {
    width: calc((100% - 48px) / 3);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    color: #f4f4fd;
}

.portfolio-element {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-element:hover .overlay {
    transform: translateY(0);
}
/* #endregion portfolio */

/* #region footer */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.socials-container {
    margin-bottom: 32px;
    margin-right: 80px;
}

.footer-socials-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #fff;
}

.list-icons-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.list-icons-footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}


.list-icons-footer .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons-footer .social-link:hover,
.list-icons-footer .social-link:focus {
    background-color: #31d0aa;
}
/* #endregion footer */